@media(min-width:768px) and (max-width: 992px){
	.lessons.rec_box{
		height: 220px;
	}
}
@media(max-width: 992px){
	html, body {
		font-size: 16px;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		min-height: unset;
	}
.navbar-toggler {
	position: relative;
}
.navbar-toggler-icon {

    transition: background-color .35s ease-out;
    width: 100%;
    display: inline-block;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 6px;
    transform: translate(-50%,-50%);
}
.navbar-toggler-icon:after , .navbar-toggler-icon:before{
    transition: background-color .35s ease-out;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -.5em;
    background-color: #ffffff;
    display: block;
    transition: all .25s;
}
.navbar-toggler-icon:after{
    top: auto;
    bottom: -.5em;
}
 .navbar-collapse{
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    z-index: 1111;
    background: #040f1c;
}
.hero-content h1 {
	font-size: 200%;
}
.hero-content .previous_course {
	margin-bottom: 20px;
}
.sm-divider {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.course_description {
	font-size: 100%;
	line-height: 2rem; 
}
.rec_box img {
	object-position: top center;
}
.position-auto {
    left: 0;
    right: 0;
    overflow: hidden;
}
.over-content {
	padding: 0 0.475rem;
}
.over-content a h4 {
	font-size: 100%;
}
.cart-box > h3 {
	font-size: 200%;
 }
}
@media(max-width:767px){
	.course_description {
		font-size: 100%;
		line-height: 2rem;
	}
	
	.feature-box h3 {
		font-size: 130%;
		margin-bottom: 1rem;
	}
	.feature-box p {
		margin-bottom: 2rem;
	}
	.course-column li {
		flex-wrap: wrap;
		border-bottom:1px solid var(--input-border , #D1D5DD) !important;
	}
	.course_title_area {
		max-width: 100%;
		margin-bottom: 1rem;
	}
	.cl_detail {
		max-width: unset !important;
	}
	.btn-group-lg>.btn, .btn-lg {
		font-size: 100%;
		padding: 0.625rem 1.063rem;
	}
	.pricing h3 {
	    margin-top: 0;
	    margin-bottom: 1rem;
	    font-size: 175%;
	    display: flex;
	    align-items: center;
	    font-weight: 700;
	}
	.abt-cmn-box {
		margin-top: 2rem;
	} 
	.pkg_area .btn-group{
		flex-wrap: wrap;
	}
	section , footer.footer{
		padding: 2rem 0 !important;
	}
	.hero-section {
		overflow: hidden;
		min-height: 100vh;
	}
	.recommanded-courses {
		margin-bottom: -1px;
	}
	.about-instructor h6 {
		margin: 1rem 0 0;
	}
	.related-course {
		max-width: unset;
		margin-top:2rem;
	}
	.checkout-login-form {
		padding: 1rem;
	}
	.checkout-login-form > p {
		margin: 1rem 0 1.5rem;
	}
	.signup-form h3 {
		text-align: center;
		font-size: 155%;
	}
	.thankyou-card h3 {
		font-size: 155%;
	}
}